#  Unwanted artifacts
*.db
*.db-shm
*.db-wal
*.pyc
**/.ipe
**/.ipe-cache/
**/.ipecache/
**/.ipe/cache/
**/.ipedeps/
**/target
**/out
**/sky-out
**/.sky-src
**/pkg
**/tmp-parity/
**/node_modules/
**/__pycache__/
/misc
.claude
skills-lock.json
plugins/



